<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.way.wandroid"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54080458fd98c5cca3008e39" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="GooglePlay" />
        <!-- ###################注册SDK使用的Activity###################### -->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
        
        
        
        
        <activity
            android:name="cn.way.wandroid.ViewListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.way.wandroid.ViewDetailActivity"
            android:label="@string/title_view_detail"
            android:parentActivityName="cn.way.wandroid.ViewListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.way.wandroid.ViewListActivity" />
        </activity>
        <activity android:name="cn.way.wandroid.net.AsynchronousHttpClientUsage" >
        </activity>
        <activity android:name="cn.way.wandroid.json.GsonUsageActivity" >
        </activity>
        <activity android:name="cn.way.wandroid.data.greendao.GreenDaoUsage" >
        </activity>
        <activity android:name="cn.way.wandroid.activities.lifemanager.LifeManagerUsage" >
        </activity>
        <activity android:name="cn.way.wandroid.activities.bulletin.BulletinUsage" >
        </activity>
        <activity android:name="cn.way.wandroid.graphics.GraphicsUsage" >
        </activity>
        <activity android:name="cn.way.wandroid.activities.dialog.DialogUsage" >
        </activity>
        <activity android:name="cn.way.wandroid.pullrefresh.PullToRefreshUsage" >
        </activity>
        <activity android:name="cn.way.wandroid.imageloader.displayingbitmaps.ui.ImageDetailActivity" >
        </activity>
        <activity android:name="cn.way.wandroid.imageloader.displayingbitmaps.ui.ImageGridActivity" >
        </activity>
        <activity android:name="cn.way.wandroid.imageloader.usage.ImageLoaderUsage" >
        </activity>
        <activity android:name="cn.way.wandroid.activities.tabhost.TabHostActivity" >
        </activity>
        <activity android:name="cn.way.wandroid.activities.views.ViewsActivity" >
        </activity>
        <activity android:name="cn.way.wandroid.share.UMengSocialUsage" >
        </activity>
        <activity android:name=".activities.viewpager.ViewPagerUsage"></activity>
        <activity android:name=".imageloader.displayingbitmaps.ui.ImageDetailActivity2"></activity>
    </application>

</manifest>